@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a href="">Members List</a>
    <a href="">Products List</a>
    <a href="">Orders List</a>
    <a href="">OrderDetails List</a>
</div>
